<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#007bff">

    <title>Smart List</title>

    <link rel="icon" type="image/png" href="./public/img/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div id="app" class="col-lg-6 col-md-8 m-auto">
    <h1 class="text-center mt-3">Smart List</h1>
    <form v-on:submit.prevent="pushTask" action="post">
        <input v-model="new_task" class="form-control mt-3" type="text" maxlength="30">
    </form>
    <p class="my-2">
        Активных задач: 
        <span class="badge badge-primary">{{ list.length }}</span>
    </p>
    <div class="mt-2 form-row">
        <span v-for="(item, key) in list" v-on:click="deleteTask(key)" :key="key" class="badge badge-pill badge-info m-1 btn">
            {{ item.text }}
        </span>
    </div>
</div>
    
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="./public/js/index.js"></script>
</body>
</html>